Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        description: 'Sort imports'
        entry: poetry run isort --profile black --line-length=80
        language: system
        require_serial: true

      - id: autoflake
        name: autoflake
        description: 'Remove unused imports'
        entry: "poetry run autoflake --in-place --remove-all-unused-imports \
                 --remove-unused-variables --expand-star-imports"
        language: system
        types: ['python']
        require_serial: true

      - id: black
        name: black
        description: 'Alters code for style consistency across Python projects'
        entry: poetry run black --line-length 80
        minimum_pre_commit_version: 2.9.2
        language: system
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        description: 'Enforces style consistency across Python projects'
        entry: poetry run flake8
        language: system
        require_serial: true
        types: [python]

      - id: yamllint
        name: yamllint
        description: 'Enforces style consistency for YAML files'
        entry: poetry run yamllint
        language: system
        types_or: [yaml]

CODE-167 Fix some test warnings
  sous-chef/sous_chef/abstract/pandas_util.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8

CODE-167 Add test for when logging activated that MenuIncomplete thrown
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
Due: autoflake, flake8

CODE-167 Add tests for MenuQuality issues and fix code
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-167 Fix for override_check as was inactive due to poor logic
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-167 Fix logic for defrost
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-167 Add test data for verifying final menu
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/data/recipes_0.json
  sous-chef/tests/integration_tests/data/tmp-menu.csv
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/integration_tests/util.py
Due: autoflake, flake8

CODE-167 Add test for grocery list error stopping ToDoist call
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/messaging/test_todoist_api.py
Due: autoflake, flake8

CODE-167 Raise error if cook day not defined in yaml
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-167 Add test to see if defrost task_name correctly formatted
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-167 Add recipe with long inactive time
  sous-chef/tests/integration_tests/data/recipes_0.json
  sous-chef/tests/integration_tests/data/tmp-menu.csv
Due: none

CODE-167 Have non-null rating checked by ensure
  sous-chef/tests/integration_tests/grocery_list/test_grocery_list__main__.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/util.py
Due: autoflake, flake8

CODE-167 Add integration test for grocery_list main
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/tests/integration_tests/data/final_grocery_list.csv
  sous-chef/tests/integration_tests/grocery_list/test_grocery_list__main__.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-167 Add integration test for menu main
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/tests/integration_tests/data/final_grocery_list.csv
  sous-chef/tests/integration_tests/data/final_menu.csv
  sous-chef/tests/integration_tests/menu/test_menu__main__.py
  sous-chef/tests/integration_tests/util.py
Due: autoflake, flake8

CODE-167 Add tests for recipe selection excluding recent menu history
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-167 Update coverage to include newer services
  sous-chef/.coveragerc.
  sous-chef/tests/integration_tests/menu/test_record_menu_history_integration.py
  sous-chef/tests/unit_tests/menu/test_record_menu_history.py
Due: autoflake, flake8

CODE-167 Add unit test for MenuHistorian
  sous-chef/tests/integration_tests/menu/test_record_menu_history_integration.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/menu/test_record_menu_history.py
Due: autoflake, flake8

CODE-167 Add integration test for menu historian and clean-up FROZEN_DATETIME
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/data/menu_history.csv
  sous-chef/tests/integration_tests/grocery_list/test_grocery_list__main__.py
  sous-chef/tests/integration_tests/menu/test_menu__main__.py
  sous-chef/tests/integration_tests/menu/test_record_menu_history_integration.py
  sous-chef/tests/integration_tests/util.py
  sous-chef/tests/unit_tests/menu/test_record_menu_history.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-208 Fix-up add week-specific label for grocery & menu tasks and only delete entries which have this; this avoids issues with wandering dates
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/messaging/todoist_api.py
  sous-chef/tests/integration_tests/data/final_grocery_list.csv
  sous-chef/tests/integration_tests/messaging/test_todoist_api_integration.py
Due: autoflake, flake8

CODE-208 Turn off pytest integration tests as run with coverage anyways
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-208 Try to activate with todoist token as seems more stable lately
  .github/actions/sous-chef-setup/action.yml
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-208 Do not install analysis packages to run tests
  .github/actions/sous-chef-setup/action.yml
Due: yamllint

CODE-208 Use existing clean-up method for whole project
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/integration_tests/messaging/test_todoist_api_integration.py
  sous-chef/tests/integration_tests/util.py
Due: autoflake, flake8

CODE-210 Reduce specialty sections in grocery list where only a few items bought from there into one Specialty section
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/integration_tests/data/final_grocery_list.csv
  sous-chef/tests/integration_tests/data/final_menu.csv
  sous-chef/tests/integration_tests/data/tmp-menu.csv
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-209: Fix-up move menu history from recipe book to correct service for menu creation
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/menu/test_record_menu_history.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8, yamllint

CODE-209 Remove explicit gmail packages from poetry & update
  poetry.lock
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-209 Remove gmail token and fixup for todoist token
  .github/actions/sous-chef-setup/action.yml
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-209 Fix integration test & minor code change
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-209 Split up large menu class to be composed of sub-classes
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/create_menu/_for_grocery_list.py
  sous-chef/sous_chef/menu/create_menu/_for_todoist.py
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/menu/create_menu/create_menu.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-209 Remove gmail usage
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  sous-chef/config/menu_main.yaml
  sous-chef/pyproject.toml
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/sous_chef/messaging/gmail_api.py
  sous-chef/tests/integration_tests/menu/test_menu__main__.py
  sous-chef/tests/integration_tests/messaging/test_gmail_api_integration.py
  sous-chef/tests/integration_tests/util.py
  sous-chef/tests/unit_tests/messaging/test_gmail_api_unit.py
Due: autoflake, flake8, yamllint

CODE-209 Resolve hydra version warnings
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/main.py
Due: autoflake, flake8

CODE-209 Resolve setting values of slice of dataframe warning
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_get_ingredient_field.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-209 Rollback pygsheets as single test fails with 2.0.6
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-209 e2e test of menu to grocery list with checks in todoist too
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
  .idea/runConfigurations/_sous_chef__e2e_tests.xml
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/data/final_grocery_list.csv
  sous-chef/tests/data/final_menu.csv
  sous-chef/tests/data/menu_history.csv
  sous-chef/tests/data/recipes_0.json
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
  sous-chef/tests/data/tmp-menu.csv
  sous-chef/tests/data/util_data.py
  sous-chef/tests/e2e_tests/conftest.py
  sous-chef/tests/e2e_tests/test_e2e.py
  sous-chef/tests/e2e_tests/util.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/grocery_list/test_grocery_list__main__.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/integration_tests/menu/test_menu__main__.py
  sous-chef/tests/integration_tests/menu/test_record_menu_history_integration.py
  sous-chef/tests/integration_tests/util.py
Due: autoflake, flake8, yamllint

CODE-209 Fix returning values to be list
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8

CODE-209 Fix to import path for tests
  sous-chef/tests/integration_tests/menu/test_record_menu_history_integration.py
Due: autoflake, flake8

CODE-209 Fix to import path for tests
  sous-chef/tests/e2e_tests/util.py
Due: autoflake, flake8

CODE-207 Functionality to fix random seed for menu randomization and print out at end of run
  sous-chef/config/random.yaml
  sous-chef/sous_chef/menu/main.py
Due: autoflake, flake8, yamllint

CODE-207 Add unit tests
  sous-chef/tests/unit_tests/menu/test_main.py
Due: autoflake, flake8

CODE-207 Fixup add config pass through
  sous-chef/config/menu_main.yaml
Due: yamllint

CODE-211 When override not active, do not randomly select recipes exceeding cook_active_time on a weekday. Unit test added.
  .idea/runConfigurations/_sous_chef__grocery_list_dev.xml
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8, yamllint
