Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-167 Fix abstract import missing module
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/formatter/ingredient/format_line_abstract.py
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/conftest.py
Due: autoflake, flake8

CODE-167 Fix check for menu rating warning to correct value
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/util.py
Due: autoflake, flake8

CODE-167 Add quality checker for menu
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8, yamllint

CODE-167 Fix bean prep to square brackets
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

CODE-167 Make different datetimes explicit: eat, cook, prep and centralized to relevant area
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-167 Move extended enum to abstract
  sous-chef/sous_chef/abstract/extended_enum.py
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/tests/conftest.py
Due: autoflake, flake8

CODE-167 Fix unit tests from introducton excepton handler and its addition to grocery list
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_get_ingredient_field.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

CODE-167 Fix failing unit test due to minor change of _add_recipe_columns().
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-167 Fix as now includes parent_id
  sous-chef/tests/integration_tests/messaging/test_todoist_api_integration.py
Due: autoflake, flake8

CODE-167 Add edit task for end of week with recipes as sub-tasks
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8

CODE-167 Fix warning message that should only activate when something skipped
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-167 Start of menu historian service
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  .idea/runConfigurations/_sous_chef__menu_prod.xml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu/record_menu_history.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient_field.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
  sous-chef/tests/unit_tests/util.py
Due: autoflake, flake8, yamllint

CODE-167 Make bean prep day the day before at lunch
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-167 Make second shopping day a date not datetime
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-167 Fix grocery list where due_date used & not constructed
  sous-chef/tests/integration_tests/grocery_list/test_generate_grocery_list_integration.py
Due: autoflake, flake8

CODE-167 Fix to line formatting
  sous-chef/sous_chef/formatter/ingredient/format_line_abstract.py
Due: autoflake, flake8

CODE-167 Minor clean-up since just modifying existing columns
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-167 Cleanup for delete_items calls, tenacity wrapped
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-167 Raise error if total time for recipe not defined (only when recipe requested) and log for menu
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8, yamllint

CODE-167 Split off enum from exception handler to be in responsible class and inherit
  sous-chef/sous_chef/abstract/extended_enum.py
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/formatter/ingredient/format_line_abstract.py
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
Due: autoflake, flake8

CODE-167 Update all runConfigurations to have color output
  .idea/runConfigurations/_sous_chef__grocery_list_dev.xml
  .idea/runConfigurations/_sous_chef__grocery_list_only_clean.xml
  .idea/runConfigurations/_sous_chef__grocery_list_prod.xml
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  .idea/runConfigurations/_sous_chef__menu_prod.xml
Due: none

CODE-167 Switch anchor date to Tuesday so Monday shopping done ahead of time; better start to week
  sous-chef/config/date/get_due_date.yaml
Due: yamllint

CODE-167 Switch defaults to raise, modify in service using instead, and add catcher to menu
  sous-chef/config/formatter/get_ingredient_field.yaml
  sous-chef/config/grocery_list.yaml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8, yamllint

CODE-167 Set time_total for ingredients too
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-167 Make anchor day shared
  sous-chef/config/date/get_due_date.yaml
  sous-chef/config/grocery_list.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/main.py
Due: autoflake, flake8, yamllint

CODE-167 Add pytest marker for OpenFoodFacts API
  sous-chef/pyproject.toml
  sous-chef/tests/integration_tests/nutrition/test_provide_nutrition_info_integration.py
Due: autoflake, flake8

CODE-167 Add coverage run configurations
  .idea/runConfigurations/_sous_chef__coverage___create_html.xml
  .idea/runConfigurations/_sous_chef__coverage___generate.xml
Due: none

CODE-167 Add exception handler
  .idea/runConfigurations/_sous_chef__grocery_list_dev.xml
  sous-chef/config/formatter/format_ingredient_field.yaml
  sous-chef/config/formatter/get_ingredient_field.yaml
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/sous_chef/formatter/format_unit.py
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_get_ingredient_field.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-167 Add optional override_check to skip checks
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-167 Replace BOM if present in string as messes up parsing
  sous-chef/sous_chef/formatter/ingredient/format_line_abstract.py
Due: autoflake, flake8

CODE-167 Fix test after different datetimes and time_total for menu changed
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-167 Update dependencies
  ansible/poetry.lock
  house-keeper/poetry.lock
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
Due: none

CODE-167 Update menu history to use cook_datetime as eat_day replaced
  sous-chef/sous_chef/menu/record_menu_history.py
Due: autoflake, flake8

CODE-167 Add output to recipe book to see how many rated or not yet tried
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8

CODE-167 Update dependencies
  ansible/poetry.lock
  house-keeper/poetry.lock
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-167 Update pandas
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-167 Update integration tests for menu to use stable recipes
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
Due: autoflake, flake8

CODE-167 Add tests for pandas_util
  sous-chef/tests/unit_tests/abstract/test_pandas_util.py
Due: autoflake, flake8

CODE-167 Add tests for extended_enum
  sous-chef/tests/unit_tests/abstract/test_extended_enum.py
Due: autoflake, flake8

CODE-167 Add tests for handle_exception and fix found issues
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/tests/unit_tests/abstract/test_handle_exception.py
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
