Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        description: 'Sort imports'
        entry: poetry run isort --profile black --line-length=80
        language: system
        require_serial: true

      - id: autoflake
        name: autoflake
        description: 'Remove unused imports'
        entry: "poetry run autoflake --in-place --remove-all-unused-imports \
                 --remove-unused-variables --expand-star-imports"
        language: system
        types: ['python']
        require_serial: true

      - id: black
        name: black
        description: 'Alters code for style consistency across Python projects'
        entry: poetry run black --line-length 80
        minimum_pre_commit_version: 2.9.2
        language: system
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        description: 'Enforces style consistency across Python projects'
        entry: poetry run flake8
        language: system
        require_serial: true
        types: [python]

      - id: yamllint
        name: yamllint
        description: 'Enforces style consistency for YAML files'
        entry: poetry run yamllint
        language: system
        types_or: [yaml]

some refactor of messy code & adding tests.
  banking-helpers/banking_helpers/processor.py
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
  banking-helpers/tests/__init__.py
  banking-helpers/tests/conftest.py
  banking-helpers/tests/integration/__init__.py
  banking-helpers/tests/integration/test_bank_integration.py
  banking-helpers/tests/unit/__init__.py
  banking-helpers/tests/unit/test_excel_export.py
  banking-helpers/tests/unit/test_pandera_validation.py
  banking-helpers/tests/unit/test_processor.py
  banking-helpers/tests/unit/test_utils.py
Due: autoflake, flake8

addressed some more comments.
  banking-helpers/PATTERNS_QUICK_REFERENCE.md
  banking-helpers/README.md
  banking-helpers/banking_helpers/app.py
  banking-helpers/banking_helpers/cli.py
  banking-helpers/banking_helpers/config/banks/bank1.yaml
  banking-helpers/banking_helpers/processor.py
  banking-helpers/banking_helpers/utils.py
Due: autoflake, flake8, yamllint

implement text shortening feature & some fixes, minor refactoring & test hardening.
  banking-helpers/README.md
  banking-helpers/banking_helpers/app.py
  banking-helpers/banking_helpers/cli.py
  banking-helpers/banking_helpers/excel_export.py
  banking-helpers/banking_helpers/processor.py
  banking-helpers/banking_helpers/utils.py
  banking-helpers/tests/unit/test_excel_export.py
  banking-helpers/tests/unit/test_pandera_validation.py
  banking-helpers/tests/unit/test_processor.py
  banking-helpers/tests/unit/test_utils.py
Due: autoflake, flake8

change season to spring.
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

fix: unit test mock response.
  sous-chef/tests/unit_tests/nutrition/test_provide_nutrition_info.py
Due: autoflake, flake8

feature: introduce general rules in extra yaml to allow flexible value remapping.
  banking-helpers/banking_helpers/app.py
  banking-helpers/banking_helpers/cli.py
  banking-helpers/banking_helpers/processor.py
  banking-helpers/tests/conftest.py
  banking-helpers/tests/unit/test_rules.py
Due: autoflake, flake8

feature: introduce general rules in extra yaml to allow flexible value remapping. (#165)
  banking-helpers/banking_helpers/app.py
  banking-helpers/banking_helpers/cli.py
  banking-helpers/banking_helpers/processor.py
  banking-helpers/tests/conftest.py
  banking-helpers/tests/unit/test_rules.py
Due: autoflake, flake8

change season to summer.
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

Adapt main README to have project information explicitly
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Add dependabot.yml
  .github/dependabot.yml
Due: yamllint

Update vulnerable dependencies and bump pytest range for jellyfin-helpers
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
Due: none

Update vulnerable dependencies and bump pytest range for utilities
  utilities/poetry.lock
  utilities/pyproject.toml
Due: none

Add pip-audit for local dependency checks & run poetry update
  poetry.lock
  pyproject.toml
Due: none

Update vulnerable dependencies and bump pytest range for sous-chef
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

Update vulnerable dependencies and bump pytest range for banking-helpers
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
Due: none

Add banking tests to CI
  .github/workflows/merge_to_main.yml
  .github/workflows/test_banking_helpers.yml
Due: yamllint

Update to python3.11 and fix panderas-multimethod mismatch with downpin
  .github/actions/poetry-setup-with-tokens/action.yml
  README.md
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/menu/record_menu_history.py
  utilities/poetry.lock
  utilities/pyproject.toml
Due: autoflake, flake8, yamllint

Fix affected test
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
Due: autoflake, flake8

Correct workflows so is over pull_request changes and not push, which was leading to irregular behavior
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Fix failing test
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
Due: autoflake, flake8

Fix failing tests
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
  utilities/utilities/api/todoist_api.py
Due: autoflake, flake8

Security/172 update dependencies (#173)
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/workflows/merge_to_main.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  README.md
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/menu/record_menu_history.py
  utilities/poetry.lock
  utilities/pyproject.toml
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
  utilities/utilities/api/todoist_api.py
Due: autoflake, flake8, yamllint

Modify README's poetry and python bounds
  README.md
Due: none

Fix zizmor finding for checkout action
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  .github/zizmor.yml
Due: yamllint

Skip GitHub files for YAML formatting as different syntax
  .pre-commit-config.yaml
Due: yamllint

Add just and adapt README for general tools
  README.md
  justfile
Due: none

Add zizmor as a development dependency
  poetry.lock
  pyproject.toml
Due: none

Add the zizmor file such that GitHub actions need not be pinned to a SHA but all other actions must
  .github/zizmor.yml
Due: yamllint

Update dependabot to update GitHub actions
  .github/dependabot.yml
Due: yamllint

Add shared poetry action to replace 3rd party action
  .github/actions/poetry-setup/action.yml
Due: yamllint

Update workflows per zizmor and other changes
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/actions/poetry-setup/action.yml
  .github/workflows/merge_to_main.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Fix setup with token action
  .github/actions/poetry-setup-with-tokens/action.yml
Due: yamllint

Security/175 strengthen workflow security (#176)
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/actions/poetry-setup/action.yml
  .github/dependabot.yml
  .github/workflows/merge_to_main.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  README.md
  justfile
  poetry.lock
  pyproject.toml
Due: yamllint

Pygsheets cannot be increased
  utilities/poetry.lock
  utilities/pyproject.toml
Due: none

Update jellyfin-helpers to resolve pandera issues
  jellyfin-helpers/jellyfin_helpers/workout_plan/models.py
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
Due: autoflake, flake8

Update versions for major updates
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  utilities/pyproject.toml
Due: none

Remove openfoodfacts as long obsolete and not used feature; update panderas model for new version
  sous-chef/config/nutrition.yaml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/menu/create_menu/models.py
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/sous_chef/nutrition/provide_nutritional_info.py
  sous-chef/sous_chef/recipe_book/recipe_util.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/nutrition/test_provide_nutrition_info_integration.py
  sous-chef/tests/unit_tests/nutrition/test_provide_nutrition_info.py
Due: autoflake, flake8, yamllint

Fix pandas related code from version update where in-replace
  sous-chef/tests/data/util_data.py
Due: autoflake, flake8

Fix deprecation warnings for units and pydantic
  sous-chef/sous_chef/formatter/ingredient/format_referenced_recipe.py
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8
