Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-206 Rework of anchor day/date logic, primary shopping date, test adjustments
  sous-chef/config/date/get_due_date.yaml
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/create_menu/_for_todoist.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/e2e_tests/test_e2e.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8, yamllint

CODE-206 Make anchor day main function non-static and pass DictConfig instead of individual values + test adjustments
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8

CODE-206 Use config for consistency for due_date too
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8

CODE-206 Fix scheduling of referenced tasks via cli being a week too late. Fix bean prep task for day label to not be split.
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-212 add bunch as unit
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8

CODE-212 add category and tag reading. will be used later to ensure filter has real values
  sous-chef/config/recipe_book.yaml
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/integration_tests/recipe_book/test_read_recipe_book_integration.py
Due: autoflake, flake8, yamllint

CODE-212 add config to run recipe book quality checks; ensure nans are pd.nas
  .idea/runConfigurations/_sous_chef__recipe_book_tests.xml
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/integration_tests/recipe_book/test_read_recipe_book_integration.py
  sous-chef/tests/unit_tests/util.py
Due: autoflake, flake8

CODE-212 add complex filter to evaluate
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/data/categories.json
  sous-chef/tests/data/tags.json
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/recipe_book/test_read_recipe_book_integration.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-212 Fix/update to output entries for e2e test
  sous-chef/tests/data/final_grocery_list.csv
  sous-chef/tests/data/tasks_grocery_list.csv
Due: none

CODE-212 Suggested code compactification (can revert if not good)
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8

CODE-212 Add minor code improvements from feedback
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8

CODE-158 Cleaned up code slightly.
  jellyfin_helpers/jellyfin_helpers/parse_library.py
Due: autoflake, flake8

CODE-158 First version of folder parse script.
  jellyfin_helpers/jellyfin_helpers.iml
  jellyfin_helpers/jellyfin_helpers/parse_library.py
Due: autoflake, flake8

CODE-158 Refactor and cleanup for clarity. Added own poetry env and correct paths etc.
  .idea/modules.xml
  jellyfin-helpers/.gitignore
  jellyfin-helpers/jellyfin-helpers.iml
  jellyfin-helpers/jellyfin_helpers/parse_library.py
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/poetry.toml
  jellyfin-helpers/pyproject.toml
  jellyfin_helpers/jellyfin_helpers/parse_library.py
Due: autoflake, flake8

Fix to label for fats.
  nutrition_graphes/.~food_nutrition__22471.twbr
  nutrition_graphes/food_nutrition.twb
Due: none

updates.
  nutrition_graphes/data/grains.csv
Due: none

Nutrition_graphs: Adding some first files and tableau dashboards.
  nutrition_graphes/.~food_nutrition__22471.twbr
  nutrition_graphes/data/cheeses.csv
  nutrition_graphes/data/grains.csv
  nutrition_graphes/data/grains_exhaustive.csv
  nutrition_graphes/food_nutrition.twb
Due: none

Fix: add dimensionality error which occurs for '1 8-ounce cream cheese'
  sous-chef/sous_chef/formatter/format_unit.py
Due: autoflake, flake8

CODE-213 Add functionality to specify max number of unrated recipes for menu generation
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/recipe_book.yaml
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8, yamllint

CODE-213 Changes and additions addressed in PR
  sous-chef/sous_chef/menu/create_menu/_for_todoist.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-213 Set min rating only once when threshold crossed and count explicit recipes too
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8

CODE-213 Adjust e2e test data with rating in tasks. Better task labels
  sous-chef/sous_chef/menu/create_menu/_for_todoist.py
  sous-chef/tests/data/tasks_menu.csv
Due: autoflake, flake8

CODE-213 Fix to really print warning only once
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8

Add leaf as a unit
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8

CODE-214 Split recipe book into subclasses
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu/_for_grocery_list.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/sous_chef/recipe_book/recipe_util.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
  sous-chef/tests/unit_tests/util.py
Due: autoflake, flake8

CODE-214 Construct mask in separate function; distinguish between label vs final mask
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

CODE-214 Fix for changed pantry list store
  sous-chef/tests/data/final_grocery_list.csv
Due: none

CODE-214 Refactor weighting for randomization and add time factor
  sous-chef/config/recipe_book.yaml
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8, yamllint

Update: nutrition plots and new tables.
  sous-chef/analysis/nutrition/.gitignore
  sous-chef/analysis/nutrition/basic_plots.ipynb
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

Nutrition_graphs: deleting some old and now unneeded files.
  nutrition_graphes/data/cheeses.csv
  nutrition_graphes/data/grains.csv
  nutrition_graphes/data/grains_exhaustive.csv
  nutrition_graphes/food_nutrition.twb
Due: none

CODE-214 Change weight against active time instead of total time
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

CODE-214 Add square as unit
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8

Nutrition graphs: wip progress
  sous-chef/analysis/nutrition/basic_plots.ipynb
Due: none

CODE-214 Further reduce number of random recipes to 2
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

CODE-214 Increase weight of rating to be more space out; could square
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

CODE-214 Modify second shopping day logic to go back to 1 day
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/data/final_grocery_list.csv
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-214 Remove clip weight as should have greater filter if desired
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
