Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-204 Some related fixes and improvements:
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-204 Fix: remove dry run and correctly implement as integration test
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/messaging/todoist_api.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/grocery_list/test_generate_grocery_list_integration.py
  sous-chef/tests/integration_tests/messaging/test_todoist_api_integration.py
  sous-chef/tests/integration_tests/util.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/messaging/test_todoist_api.py
Due: autoflake, flake8

CODE-16 Add basic nutrition data extraction from openfoodfacts
  sous-chef/nutrition_data/master_ingredient_list.csv
  sous-chef/poetry.lock
  sous-chef/sous_chef/nutrition/provide_nutritional_info.py
  sous-chef/tests/unit_tests/nutrition/test_provide_nutrition_info.py
Due: autoflake, flake8

CODE-16 Modify more intellij configs
  ansible/ansible.iml
  aurorianclouds.iml
  sous-chef/sous-chef.iml
Due: none

CODE-16 Add: pydantic and openfoodfacts and mark gsheets tests
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/tests/integration_tests/messaging/test_gsheets_api.py
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
Due: autoflake, flake8

CODE-16 Fix: update dependencies
  ansible/poetry.lock
  house-keeper/poetry.lock
  poetry.lock
  sous-chef/poetry.lock
Due: none

CODE-16 Update WIP analysis
  sous-chef/analysis/nutrition/basic_plots.ipynb
Due: none

CODE-16 WIP: Start analysis notebook
  .gitignore
  sous-chef/analysis/nutrition/quality_checks.ipynb
  sous-chef/analysis/nutrition/util.py
Due: autoflake, flake8

CODE-16 Fix: update dependencies with poetry 1.2.2 and setup for notebook
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-16 Fix: wrong level specification in tenacity after_log calls.
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8

CODE-16: Tenacity wrappers for high-frequency todoist calls that are prone to fail.
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8

CODE-16 Fix: minor fix to nutrition unit test
  sous-chef/tests/unit_tests/nutrition/test_provide_nutrition_info.py
Due: autoflake, flake8

CODE-16 Bump up poetry version to make Github workflow work again
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-16: Switch from local temporary file to gsheets
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
  .idea/runConfigurations/_sous_chef__menu_prod_from_local.xml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/pyproject.toml
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-16 Add minor improvements to avoid rare issues
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
Due: autoflake, flake8

CODE-16: Add prep_day_before and defrost
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-16 Add pinto beans to bean prep config
  sous-chef/config/grocery_list.yaml
Due: yamllint

CODE-16 Adjust prio for menu and prep tasks (to yellow). Move respective entries to config(s).
  sous-chef/config/grocery_list.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8, yamllint

CODE-16 Change util to read from manual nutrition sheet
  sous-chef/analysis/nutrition/util.py
Due: autoflake, flake8

CODE-16 Add missed fix to todoist integration test
  sous-chef/tests/integration_tests/messaging/test_todoist_api_integration.py
Due: autoflake, flake8

CODE-16 WIP: Sync nutritional data from OpenFoodFacts for our pantry ingredients to a google worksheet
  sous-chef/analysis/nutrition/quality_checks.ipynb
  sous-chef/analysis/nutrition/util.py
  sous-chef/config/nutrition.yaml
  sous-chef/sous_chef/abstract/pandas_util.py
  sous-chef/sous_chef/messaging/gsheets_api.py
  sous-chef/sous_chef/nutrition/provide_nutritional_info.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/messaging/test_gsheets_api.py
  sous-chef/tests/integration_tests/nutrition/test_provide_nutrition_info_integration.py
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
  sous-chef/tests/unit_tests/nutrition/test_provide_nutrition_info.py
Due: autoflake, flake8, yamllint

CODE-16 Update dependencies.
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-16 Bugfix to fill na weightings for recipe randomization. Better default rating.
  sous-chef/config/recipe_book.yaml
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8, yamllint

CODE-16 WIP analysis notebooks with charts
  sous-chef/analysis/nutrition/basic_plots.ipynb
  sous-chef/analysis/nutrition/quality_checks.ipynb
  sous-chef/analysis/nutrition/util.py
Due: autoflake, flake8

CODE-16 Minor fixes related to reading correct types from sheets.
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/integration_tests/messaging/test_todoist_api_integration.py
Due: autoflake, flake8

CODE-16: Reduce calls to recalculate anchor date by explicitly giving date in created menu
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/grocery_list/test_generate_grocery_list_integration.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-16 logging consistency: warn -> warning
  sous-chef/sous_chef/abstract/pandas_util.py
Due: autoflake, flake8

CODE-16 Fix to run grocery list
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

CODE-16: Add inactive column, where if Y, then do not add to menu-tmp
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

CODE-16: Only test one OS; some integration tests write to same source and could lead to race conditions
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-16: Introduce work_day_0; ideally, this is always Monday - start of week
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

CODE-167 Use exception handler for menu finalization and menu history for standard recipes
  sous-chef/config/grocery_list.yaml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/abstract/handle_exception.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8, yamllint

CODE-167 Mark house-keeper .venv to exclude
  house-keeper/house-keeper.iml
  sous-chef/sous_chef/abstract/handle_exception.py
Due: autoflake, flake8

CODE-167 Fix from_day bug, need to aggregate over to pass
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-167 Fix anchor date for when anchor less than current date's index
  sous-chef/sous_chef/date/get_due_date.py
Due: autoflake, flake8

CODE-167 Only run pytests on new push since when modifying PR it runs twice
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-167 Fix anchor date to work week ahead of menu planning
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

CODE-167 Remove default total cook time as required now to be not null
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-167 Output exceptions to grocery list and for now print in color
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-167 Move get_dict_from_columns to pandas_util
  sous-chef/sous_chef/abstract/pandas_util.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
