Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-214 Fix e2e test
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/util_data.py
  sous-chef/tests/e2e_tests/test_e2e.py
Due: autoflake, flake8

CODE-214 See if updating packages helps with pipeline failure which is not reproducible on my laptop (all tests succeed).
  sous-chef/poetry.lock
Due: none

CODE-214 Start unrated, rated recipe restriction logic
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

CODE-214 Re-add second grocery day and restrict to produce
  sous-chef/config/grocery_list.yaml
Due: yamllint

CODE-214 Allow to restrict weekend cooking time too
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-214 Changes for summer menu
  sous-chef/config/date/get_due_date.yaml
  sous-chef/config/grocery_list.yaml
  sous-chef/tests/conftest.py
Due: autoflake, flake8, yamllint

CODE-214 Change pantry list joins to outer and add warning output if not in both frames
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
Due: autoflake, flake8

CODE-214 Changes to switch over to combined fixed_menus (tests not fixed)
  sous-chef/config/grocery_list.yaml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-214 Correct pantry list warnings
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
Due: autoflake, flake8

CODE-214 Add Waldstadt (Edeka) to specialty output
  sous-chef/config/grocery_list.yaml
Due: yamllint

CODE-214 Get unit tests to work again
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-214 Adapt & fix e2e test after recent menu consolidation, cooking time changes, & pantry list changes.
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/data/final_grocery_list.csv
  sous-chef/tests/data/final_menu.csv
  sous-chef/tests/data/menu_history.csv
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
  sous-chef/tests/data/util_data.py
  sous-chef/tests/e2e_tests/test_e2e.py
  sous-chef/tests/e2e_tests/util.py
Due: autoflake, flake8

CODE-214 Minor additional changes to get integration tests to work again.
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/conftest.py
  sous-chef/tests/data/tmp-menu.csv
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
Due: autoflake, flake8

CODE-214 Changes for unit tests after updated MockMealTimes.
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8

CODE-214 Update deps
  sous-chef/poetry.lock
Due: none

CODE-214 Use weekend time constraint if exists
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8

CODE-214 Add basic ingredient selection
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-214 Modify ingredient selection to work with all recipes and add expression to evaluate to false
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

CODE-214 Commit debug code for errors
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

CODE-214 Add time filter
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-214 Set code coverage to 80+/-1 percent
  codecov.yml
Due: yamllint

CODE-214 Set workflows to run only when sous_chef changed
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-216 Split of re-used apis to utilities package
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/workflows/test_utilities.yml
  utilities/README.md
  utilities/config/messaging/gsheets_api.yaml
  utilities/config/messaging/todoist_api.yaml
  utilities/poetry.lock
  utilities/poetry.toml
  utilities/pyproject.toml
  utilities/tests/__init__.py
  utilities/tests/integration_tests/api/conftest.py
  utilities/tests/integration_tests/api/test_gsheets_api.py
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
  utilities/tests/unIt_tests/api/conftest.py
  utilities/tests/unIt_tests/api/test_todoist_api.py
  utilities/utilities.iml
  utilities/utilities/__init__.py
  utilities/utilities/api/gsheets_api.py
  utilities/utilities/api/todoist_api.py
  utilities/utilities/testing/pandas_util.py
Due: autoflake, flake8, yamllint

CODE-216 Update github workflows to split up testing for utilities and sous-chef
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

CODE-216 Centralize token directory to higher level
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  sous-chef/config/messaging/gsheets_api.yaml
  sous-chef/config/messaging/todoist_api.yaml
  utilities/config/messaging/gsheets_api.yaml
  utilities/config/messaging/todoist_api.yaml
  utilities/utilities.iml
Due: yamllint

CODE-216 Limit concurrency of code coverage
  .github/workflows/coverage_sous_chef.yml
Due: yamllint

CODE-216 Update sous_chef to use utilities package
  sous-chef/.coveragerc.
  sous-chef/analysis/nutrition/util.py
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous-chef.iml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_for_todoist.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/create_menu/_for_todoist.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/sous_chef/messaging/gsheets_api.py
  sous-chef/sous_chef/messaging/todoist_api.py
  sous-chef/sous_chef/nutrition/provide_nutritional_info.py
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/e2e_tests/conftest.py
  sous-chef/tests/e2e_tests/test_e2e.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/integration_tests/menu/test_record_menu_history_integration.py
  sous-chef/tests/integration_tests/messaging/test_gsheets_api.py
  sous-chef/tests/integration_tests/messaging/test_todoist_api_integration.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_get_ingredient_field.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/menu/test_record_menu_history.py
  sous-chef/tests/unit_tests/messaging/test_todoist_api.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
  sous-chef/tests/util.py
Due: autoflake, flake8

CODE-216 Remove reference to gmail api as removed
  sous-chef/config/menu_main.yaml
  sous-chef/config/messaging/gmail_api.yaml
Due: yamllint

CODE-216 Update main dependencies
  .idea/modules.xml
  aurorianclouds.iml
  poetry.lock
Due: none

CODE-216 Try to reduce test runs & upload multiple reports
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: yamllint

CODE-216 Update store for grocery list test
  sous-chef/tests/data/final_grocery_list.csv
Due: none

CODE-216 Add codecov and license badges
  README.md
Due: none

CODE-216 Do not do lengthy e2e on CI; useful for debugging
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-216 Update e2e task list
  sous-chef/tests/data/tasks_grocery_list.csv
Due: none

CODE-216 Ignore opefoodfacts as not used and flakey
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-216 See if can upload files
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  utilities/poetry.lock
  utilities/pyproject.toml
Due: yamllint

CODE-216 Rename config folder to match package
  utilities/config/api/gsheets_api.yaml
  utilities/config/api/todoist_api.yaml
  utilities/tests/integration_tests/api/conftest.py
  utilities/tests/unIt_tests/api/conftest.py
Due: autoflake, flake8, yamllint

CODE-216 Make sous_chef tests dependent on utilities changes too
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-216 Rename messaging to api for sous_chef to for consistency
  sous-chef/analysis/nutrition/util.py
  sous-chef/config/api/gsheets_api.yaml
  sous-chef/config/api/todoist_api.yaml
  sous-chef/config/grocery_list.yaml
  sous-chef/config/menu_main.yaml
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/main.py
  sous-chef/tests/e2e_tests/conftest.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/unit_tests/conftest.py
Due: autoflake, flake8, yamllint

CODE-216 Minor iml/xml fixes
  .idea/runConfigurations/_sous_chef__unit_tests.xml
  utilities/utilities.iml
Due: none

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
