Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-171 Make anchor day configurable and freeze for tests
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-171 Simplify todoist structure
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8

CODE-171 Update time for meals and make testing robust to changes
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8

CODE-171 Add second shopping day to grocery list
  sous-chef/config/grocery_list.yaml
  sous-chef/sous-chef.iml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/messaging/todoist_api.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-171 Create bean_prep config information
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-171 Update poetry
  ansible/poetry.lock
  ansible/pyproject.toml
  poetry.lock
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-171 Add directories to be excluded
  sous-chef/sous-chef.iml
Due: none

CODE-171 With hydra upgrade, must declare version_base
  sous-chef/tests/integration_tests/messaging/test_gmail_api_integration.py
  sous-chef/tests/integration_tests/messaging/test_gsheets_api.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/formatter/ingredient/conftest.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient_field.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_referenced_recipe.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
  sous-chef/tests/unit_tests/messaging/test_gmail_api_unit.py
  sous-chef/tests/unit_tests/messaging/test_todoist_api.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-171 Add snack time and update lunch time
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/tests/unit_tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8

CODE-171 Switch fixed menu to generic days
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-171 A handful of small corrections to generate menu and grocery lists.
  sous-chef/config/grocery_list.yaml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8, yamllint

CODE-196 Add tests and standardize pantry list
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/integration_tests/conftest.py
  sous-chef/tests/integration_tests/messaging/test_gmail_api_integration.py
  sous-chef/tests/integration_tests/messaging/test_gsheets_api.py
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
  sous-chef/tests/unit_tests/pantry_list/test_read_pantry_list.py
Due: autoflake, flake8

CODE-196 Add and use replacement pantry list
  sous-chef/config/pantry_list.yaml
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
  sous-chef/tests/unit_tests/pantry_list/test_read_pantry_list.py
Due: autoflake, flake8, yamllint

CODE-196 Propagate barcode to grocery list for todoist usage
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

CODE-196 Propagate barcode and recipe_uuid & switch to bad_ingredient
  sous-chef/config/pantry_list.yaml
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/formatter/ingredient/format_ingredient_field.py
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
  sous-chef/tests/unit_tests/formatter/ingredient/conftest.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient_field.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-196 Mark more excluded directories in intellij
  ansible/ansible.iml
  aurorianclouds.iml
  sous-chef/sous-chef.iml
Due: none

CODE-196 Update project dependencies
  ansible/poetry.lock
  ansible/pyproject.toml
  poetry.lock
  sous-chef/poetry.lock
Due: none

CODE-196 Remove post_init for PantryList as not a dataclass. Adjustment of pantry list tests and enforcement of order of labels.
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
Due: autoflake, flake8

CODE-196 Toss errors in pantry list when inner joins change shapes. Add respective tests.
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  sous-chef/tests/unit_tests/pantry_list/test_read_pantry_list.py
Due: autoflake, flake8

CODE-196 Change anchor day for bean prep tasks to early in cooking week.
  sous-chef/config/grocery_list.yaml
Due: yamllint

CODE-196 Add ignore entry functionality to ingredient formatter incl. unit test + some missing type hints.
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/formatter/ingredient/format_ingredient_field.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
Due: autoflake, flake8

CODE-196 Add description (currently only barcode) to todoist output for grocery items.
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8

CODE-196 Use copies of subselected dfs to silence warnings and avoid issues.
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
Due: autoflake, flake8

CODE-201 Set empty unit for manual ingredients to None to correctly aggregate with recipe ingredients.
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
Due: autoflake, flake8

CODE-204 Update dependencies
  ansible/poetry.lock
  ansible/pyproject.toml
  house-keeper/poetry.lock
  house-keeper/pyproject.toml
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-204 Refactor bean preparation to general preparation task for referened recipes
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/formatter/ingredient/format_ingredient_field.py
  sous-chef/sous_chef/formatter/ingredient/format_referenced_recipe.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient_field.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_referenced_recipe.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

CODE-204 Fix up: needed preparation in config call
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-204 Fix up: need to test that is not None
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-204 Fix up: no minutet
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-204 Fix up: label list
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-204 Add single quote to allowed ingredient regex formats.
  sous-chef/config/formatter/format_ingredient.yaml
Due: yamllint

CODE-204 Fix: mark tests to skip in online coverage
  .github/workflows/coverage_sous_chef.yml
  .github/workflows/test_sous_chef.yml
  sous-chef/pyproject.toml
  sous-chef/tests/integration_tests/messaging/test_gmail_api_integration.py
  sous-chef/tests/integration_tests/messaging/test_todoist.py
Due: autoflake, flake8, yamllint

CODE-204 Fix: dependency updates
  ansible/poetry.lock
  ansible/pyproject.toml
  house-keeper/poetry.lock
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-204 Change back cooking day Mon -> Tue.
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

CODE-204 Update work day cooking days.
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

CODE-204 Fix: todoist api to official one
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/messaging/todoist_api.py
  sous-chef/tests/integration_tests/messaging/test_todoist.py
  sous-chef/tests/unit_tests/messaging/test_todoist_api.py
Due: autoflake, flake8

CODE-204 Add work_day_3 and activate task cleanup by default.
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

CODE-204 A few adjustments and fixes to todoist integration tests, remove hardcoded project and section ids.
  sous-chef/sous_chef/messaging/todoist_api.py
  sous-chef/tests/integration_tests/messaging/test_todoist.py
Due: autoflake, flake8

CODE-204 Logic fix to facilitate correct cleanup of tasks with due dates.
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8

CODE-204 Add unit test for queue prep task addition. Moved some tests to unit tests. Minor modifications.
  sous-chef/sous_chef/messaging/todoist_api.py
  sous-chef/tests/integration_tests/messaging/test_todoist.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/messaging/test_todoist_api.py
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
