Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-216 review fix: unit tests accidentally had random capital letter in folder name
  utilities/tests/unit_tests/api/conftest.py
  utilities/tests/unit_tests/api/test_todoist_api.py
Due: autoflake, flake8

CODE-216 Only need to run sous-chef if module associated with utilities is updated
  .github/workflows/test_sous_chef.yml
Due: yamllint

CODE-216 Start Jellyfin sync
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  jellyfin-helpers/config/jellyfin.yaml
  jellyfin-helpers/jellyfin-helpers.iml
  jellyfin-helpers/jellyfin_helpers/jellyfin_api.py
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
  jellyfin-helpers/jellyfin_helpers/utils.py
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
Due: autoflake, flake8, yamllint

CODE-215 Add fastapi and first endpoints
  poetry.lock
  sous-chef/.coveragerc.
  sous-chef/sous_chef/api/main.py
  sous-chef/sous_chef/api/routers/grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
Due: autoflake, flake8

CODE-215 Split up grocery_list class some
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_aggregated.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_extract_from_menu.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_grocery_list_basic.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

CODE-215 Switch from Object to DataFrame from menu
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_extract_from_menu.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_grocery_list_basic.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/sous_chef/menu/create_menu/_for_grocery_list.py
  sous-chef/sous_chef/menu/create_menu/create_menu.py
  sous-chef/tests/conftest.py
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-215 Update README with API and add sections and remove unused
  README.md
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_grocery_list_basic.py
Due: autoflake, flake8

CODE-218 Update python dependencies
  poetry.lock
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  utilities/poetry.lock
  utilities/pyproject.toml
Due: none

CODE-217 Get working exercise selector for jellyfin
  jellyfin-helpers/config/gsheets_api.yaml
  jellyfin-helpers/config/jellyfin.yaml
  jellyfin-helpers/config/jellyfin_api.yaml
  jellyfin-helpers/config/plan_workouts.yaml
  jellyfin-helpers/config/todoist_api.yaml
  jellyfin-helpers/jellyfin_helpers/jellyfin_api.py
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
  jellyfin-helpers/jellyfin_helpers/utils.py
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  utilities/utilities/api/todoist_api.py
Due: autoflake, flake8, yamllint

fixup! CODE-217 Get working exercise selector for jellyfin
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
Due: autoflake, flake8

CODE-217 Extend to 4 week exercise plan
  jellyfin-helpers/config/plan_workouts.yaml
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
Due: autoflake, flake8, yamllint

feature-bean-soaking Fix, add '&' to allowed characters in referenced recipes regex (escaping is not technically necessary according to PCRE but does not hurt here).
  sous-chef/config/formatter/format_ingredient.yaml
Due: yamllint

feature-bean-soaking Add separate soaking task + unit test
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8, yamllint

feature-bean-soaking Add defrost option for sub-menu & expand tests for coverage of
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

feature-bean-soaking Change cli to numeric shortcut input for rescheduled reference meals.
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

feature-bean-soaking Better function-in-function naming.
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-217 Skip inactive exercise rows
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
Due: autoflake, flake8

CODE-217 Add 4-week no-repeat selection with minor refactoring
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
Due: autoflake, flake8

CODE-217 Prepend todoist task with [wk #]
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
Due: autoflake, flake8

CODE-217 Fix: failing tests
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
Due: autoflake, flake8

CODE-217 Add basic caching for jellyfin api data retrieval + logging calls.
  jellyfin-helpers/.gitignore
  jellyfin-helpers/jellyfin_helpers/plan_workouts.py
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
Due: autoflake, flake8

CODE-217 Adjust eat_factor validation entries gt->ge
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/menu/record_menu_history.py
Due: autoflake, flake8

CODE-217 More verbose SDK names
  .idea/runConfigurations/_sous_chef__e2e_tests.xml
  .idea/runConfigurations/_sous_chef__grocery_list_dev.xml
  .idea/runConfigurations/_sous_chef__grocery_list_only_clean.xml
  .idea/runConfigurations/_sous_chef__grocery_list_prod.xml
  .idea/runConfigurations/_sous_chef__integration_tests.xml
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  .idea/runConfigurations/_sous_chef__menu_prod.xml
  .idea/runConfigurations/_sous_chef__unit_tests.xml
  analysis/analysis.iml
  ansible/ansible.iml
  aurorianclouds.iml
  house-keeper/house-keeper.iml
  jellyfin-helpers/jellyfin-helpers.iml
  sous-chef/sous-chef.iml
  utilities/utilities.iml
Due: none

CODE-217 Switch strict schema interpretation off
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8

CODE-217 Change SDK names to more reasonable variants.
  .idea/runConfigurations/_sous_chef__e2e_tests.xml
  .idea/runConfigurations/_sous_chef__grocery_list_dev.xml
  .idea/runConfigurations/_sous_chef__grocery_list_only_clean.xml
  .idea/runConfigurations/_sous_chef__grocery_list_prod.xml
  .idea/runConfigurations/_sous_chef__integration_tests.xml
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  .idea/runConfigurations/_sous_chef__menu_prod.xml
  .idea/runConfigurations/_sous_chef__unit_tests.xml
  analysis/analysis.iml
  ansible/ansible.iml
  aurorianclouds.iml
  house-keeper/house-keeper.iml
  jellyfin-helpers/jellyfin-helpers.iml
  sous-chef/sous-chef.iml
  utilities/utilities.iml
Due: none

CODE-217 Bump number of allowed random recipes
  sous-chef/config/menu/create_menu.yaml
Due: yamllint

CODE-217 Add prep tasks for long duration preps if not scheduled separately (needs refinement in dedicated PR).
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

CODE-218 Add ignore future menus with config options
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8, yamllint

CODE-218 Turn off future check for tests here so we are not sensitive to actual menu changes
  sous-chef/tests/integration_tests/menu/test_create_menu_integration.py
Due: autoflake, flake8

CODE-218 Attempt to fix overwrite value on a slice
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
Due: autoflake, flake8

CODE-218 Verify that if future recipe uuid included, then an error is raised
  sous-chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-218 Split from_fixed_template tests out into its own file
  sous-chef/tests/unit_tests/menu/create_menu/conftest.py
  sous-chef/tests/unit_tests/menu/create_menu/test__from_fixed_template.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
Due: autoflake, flake8

CODE-218 Move fixed menu retrieval to its own class & clean-up modifications
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/e2e_tests/test_e2e.py
  sous-chef/tests/integration_tests/menu/test_record_menu_history_integration.py
  sous-chef/tests/integration_tests/recipe_book/test_read_recipe_book_integration.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
  sous-chef/tests/unit_tests/menu/test_record_menu_history.py
Due: autoflake, flake8, yamllint

CODE-218 Reduce errors given for checking menu number
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/tests/data/all_menus.csv
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
