Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        description: 'Sort imports'
        entry: poetry run isort --profile black --line-length=80
        language: system
        require_serial: true

      - id: autoflake
        name: autoflake
        description: 'Remove unused imports'
        entry: "poetry run autoflake --in-place --remove-all-unused-imports \
                 --remove-unused-variables --expand-star-imports"
        language: system
        types: ['python']
        require_serial: true

      - id: black
        name: black
        description: 'Alters code for style consistency across Python projects'
        entry: poetry run black --line-length 80
        minimum_pre_commit_version: 2.9.2
        language: system
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        description: 'Enforces style consistency across Python projects'
        entry: poetry run flake8
        language: system
        require_serial: true
        types: [python]

      - id: yamllint
        name: yamllint
        description: 'Enforces style consistency for YAML files'
        entry: poetry run yamllint
        language: system
        types_or: [yaml]

Resolve pydantic deprecation warning
  jellyfin-helpers/tests/unit_tests/test_jellyfin_api.py
Due: autoflake, flake8

Fix pandas issue from version 3 switch
  sous-chef/tests/data/util_data.py
Due: autoflake, flake8

Fix remaining tests and update major version
  jellyfin-helpers/jellyfin_helpers/jellyfin_api.py
  sous-chef/pyproject.toml
  sous-chef/sous_chef/menu/create_menu/_select_menu_template.py
  sous-chef/tests/data/util_data.py
Due: autoflake, flake8

Fix tests - was adding an extra /
  jellyfin-helpers/jellyfin_helpers/jellyfin_api.py
  jellyfin-helpers/tests/unit_tests/test_jellyfin_api.py
Due: autoflake, flake8

fix: todoist date format broke & recipe read fix.
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
  sous-chef/tests/e2e_tests/test_e2e.py
Due: autoflake, flake8

fix: todoist date format broke & recipe read fix. (#181)
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
  sous-chef/tests/e2e_tests/test_e2e.py
Due: autoflake, flake8

Add merge gate with pr.yml
  .github/actions/check-workflow-changes/action.yml
  .github/workflows/pr.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Fix minor bug for zizmor in CI usage with the shared poetry-setup actions
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/actions/poetry-setup/action.yml
  .github/workflows/pr.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Simplify name
  .github/workflows/pr.yml
Due: yamllint

Rename to check-file-changes
  .github/actions/check-file-changes/action.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Fix spacing
  .github/workflows/pr.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Add merge gate (#182)
  .github/actions/check-file-changes/action.yml
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/actions/poetry-setup/action.yml
  .github/workflows/pr.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Add Sonar settings to sous-chef
  sous-chef/pyproject.toml
Due: none

Add Sonar settings to sous-chef
  .github/workflows/merge_to_main.yml
  .github/workflows/pr.yml
  .github/workflows/test_sous_chef.yml
  sous-chef/pyproject.toml
Due: yamllint

Add sonar for banking-helpers
  .github/workflows/merge_to_main.yml
  .github/workflows/pr.yml
  .github/workflows/test_banking_helpers.yml
Due: yamllint

Add sonar for utilities
  .github/workflows/merge_to_main.yml
  .github/workflows/pr.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Add sonar for jellyfin-helpers
  .github/workflows/merge_to_main.yml
  .github/workflows/pr.yml
  .github/workflows/test_jellyfin_helpers.yml
Due: yamllint

Add Sonar settings to sous-chef (#184)
  .github/workflows/merge_to_main.yml
  .github/workflows/pr.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  sous-chef/pyproject.toml
Due: yamllint

Update sous-chef
  sous-chef/poetry.lock
Due: none

Update dependencies
  poetry.lock
Due: none

Update dependencies for banking-helpers
  banking-helpers/poetry.lock
Due: none

Update dependencies for utilities
  utilities/poetry.lock
Due: none

Update dependencies for jellyfin-helpers
  jellyfin-helpers/poetry.lock
Due: none

Do fetch-depth: 0 to provide needed information to sonar action
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Dependencies/2026 08 30 update dependencies (#185)
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  banking-helpers/poetry.lock
  jellyfin-helpers/poetry.lock
  poetry.lock
  sous-chef/poetry.lock
  utilities/poetry.lock
Due: yamllint

Remove text_extractor as ended up using LLMs for instead
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/text_extractor/convert_image_to_text.py
Due: autoflake, flake8

Fix comparison data for e2e test
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
Due: none

Alphabetize pyproject.toml
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

Change so e2e test run in PR
  .github/workflows/test_sous_chef.yml
Due: yamllint

Refactoring/186 fix e2e test and cleanup (#187)
  .github/workflows/test_sous_chef.yml
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/text_extractor/convert_image_to_text.py
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
Due: autoflake, flake8, yamllint

Switch to ZoneInfo over pytz (Python 3.9)
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Alter assert of task.id to test if its a string and it has a meaningful non-zero value
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
Due: autoflake, flake8

Reduce assertions to be meaningful
  utilities/utilities/testing/pandas_util.py
Due: autoflake, flake8

Add a comment why the __post_init__ is empty
  utilities/utilities/testing/todoist.py
Due: autoflake, flake8

Refactor function to reduce cognitive maintenance
  utilities/utilities/api/base_classes/todoist.py
Due: autoflake, flake8

Use defined default to reduce future efforts if it changes
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Refactoring/188 resolve sonar issues part 1 utilities (#189)
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
  utilities/utilities/api/base_classes/todoist.py
  utilities/utilities/testing/pandas_util.py
  utilities/utilities/testing/todoist.py
Due: autoflake, flake8

Add Sonar ratings for utilities
  README.md
Due: none

Replace with .replace()
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
Due: autoflake, flake8

Add Sonar ratings for sous-chef
  README.md
Due: none
