Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

Create saved configuration options for debug & prod
  .idea/runConfigurations/_workout__debug.xml
  .idea/runConfigurations/_workout__prod.xml
  jellyfin-helpers/config/__init__.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/__main__.py
Due: autoflake, flake8

Switch to bike season config
  jellyfin-helpers/config/plan_workouts.yaml
Due: yamllint

Update exercise time to be the summed time of the selected workouts
  jellyfin-helpers/jellyfin_helpers/workout_plan/export_plan.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/models.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
Due: autoflake, flake8

Create clean-up option to delete old entries from todoist & jellyfin
  .idea/runConfigurations/_sous_chef__grocery_list_dev.xml
  .idea/runConfigurations/_sous_chef__grocery_list_only_clean.xml
  .idea/runConfigurations/_sous_chef__grocery_list_prod.xml
  .idea/runConfigurations/_sous_chef__menu_prod.xml
  jellyfin-helpers/config/plan_workouts.yaml
  jellyfin-helpers/jellyfin_helpers/jellyfin_api.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/__main__.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/export_plan.py
Due: autoflake, flake8, yamllint

Get list of values from enum
  sous-chef/sous_chef/abstract/extended_enum.py
Due: autoflake, flake8

Add basic and specific seasonal selector in menu
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/data/all_menus.csv
  sous-chef/tests/unit_tests/menu/create_menu/conftest.py
Due: autoflake, flake8, yamllint

Skip nutrtion integration tests due to increasingly slow API
  sous-chef/tests/integration_tests/nutrition/test_provide_nutrition_info_integration.py
Due: autoflake, flake8

Split loading as menu run itself may have issues before being compared
  sous-chef/tests/e2e_tests/test_e2e.py
Due: autoflake, flake8

Add component differentiation to code coverage
  codecov.yml
Due: yamllint

Add tests for _check_season
  sous-chef/tests/data/all_menus.csv
  sous-chef/tests/unit_tests/menu/create_menu/test__from_fixed_template.py
Due: autoflake, flake8

Fix e2e test and make more explicit when context mananger needed vs not
  sous-chef/sous_chef/menu/main.py
  sous-chef/tests/data/final_grocery_list.csv
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
  sous-chef/tests/data/util_data.py
  sous-chef/tests/e2e_tests/test_e2e.py
Due: autoflake, flake8

Try to run coverage again on main, just for sous-chef with reusable workflow
  .github/workflows/merge_to_main.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Add cache for worksheets as seems rather slow sometimes when reading
  utilities/pyproject.toml
  utilities/utilities/api/gsheets_api.py
  utilities/utilities/testing/todoist.py
Due: autoflake, flake8

Update poetry for sous_chef
  sous-chef/poetry.lock
Due: none

Fix up with workbook loaded first in dataclass
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
  jellyfin-helpers/tests/integration_tests/workout_plan/test_plan_workouts.py
  sous-chef/sous_chef/menu/create_menu/_from_fixed_template.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/sous_chef/menu/record_menu_history.py
  sous-chef/sous_chef/pantry_list/read_pantry_list.py
  utilities/poetry.lock
  utilities/tests/integration_tests/api/test_gsheets_api.py
  utilities/utilities/api/gsheets_api.py
Due: autoflake, flake8

Add e2e to pipeline but do NOT count in coverage
  .github/workflows/test_sous_chef.yml
Due: yamllint

Reduce extra prep tasks to just [whole] or scheduled separately ones
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Add unit test for ExtendedEnum value_list()
  sous-chef/tests/unit_tests/abstract/test_extended_enum.py
Due: autoflake, flake8

Update sous-chef/tests/e2e_tests/test_e2e.py
  sous-chef/tests/e2e_tests/test_e2e.py
Due: autoflake, flake8

Fix e2e test data (milk -> lidl)
  sous-chef/tests/data/final_grocery_list.csv
Due: none

Remove get_duration_from_tags as can get from jellyfin duration
  jellyfin-helpers/jellyfin_helpers/workout_plan/get_workouts.py
  jellyfin-helpers/tests/unit_tests/workout_plan/test_get_workouts.py
Due: autoflake, flake8

Update dependencies
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
Due: none

Remove recycled genres which created subsequent issues, now manual work to resolve
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
Due: autoflake, flake8

Add highest_difficulty to plan & weight be ratings
  jellyfin-helpers/jellyfin_helpers/workout_plan/models.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
Due: autoflake, flake8

Try updated workflow with secrets
  .github/workflows/test_sous_chef.yml
Due: yamllint

Add difficulty & rating from tags to workout cache
  jellyfin-helpers/jellyfin_helpers/workout_plan/get_workouts.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/models.py
  jellyfin-helpers/tests/unit_tests/workout_plan/test_get_workouts.py
Due: autoflake, flake8

Change so does not fail when workouts not found but adds warningt to be manually fixed
  jellyfin-helpers/jellyfin_helpers/workout_plan/__main__.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
Due: autoflake, flake8

Run all tests when merged to main
  .github/workflows/merge_to_main.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Re-add removed option to avoid recipe book loading with dropbox default
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/tests/e2e_tests/test_e2e.py
  sous-chef/tests/e2e_tests/util.py
Due: autoflake, flake8

Switch coverage support upload to happen before e2e in sous_chef
  .github/workflows/test_sous_chef.yml
Due: yamllint

Remove timing issue of coverage calcution more robustly by making a subsequent, dependent job
  .github/workflows/merge_to_main.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: yamllint

Remove class inheriting from object
  sous-chef/sous_chef/abstract/handle_exception.py
Due: autoflake, flake8

Make meal time enum based on time instead of arbitrary dict
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8

Add missing to extended enum to allow strings in different cases to be matched
  sous-chef/sous_chef/abstract/extended_enum.py
  sous-chef/tests/unit_tests/abstract/test_extended_enum.py
Due: autoflake, flake8

Update Weekday and MealTime to send string over _missing_ to match with enum
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/date/test_get_due_date.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
Due: autoflake, flake8

Refactor extended enum tests to cleaner format
  sous-chef/tests/unit_tests/abstract/test_extended_enum.py
Due: autoflake, flake8

Allow Weekday values to be in easier properties and use in menu_basic
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
Due: autoflake, flake8

Use weekday enum for short name to capitalized day
  sous-chef/sous_chef/date/get_due_date.py
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
Due: autoflake, flake8

Switch most string references to use Weekday enum
  sous-chef/tests/unit_tests/date/test_get_due_date.py
Due: autoflake, flake8

Switch from integer reference to using Weekday structure
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
