Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-157 Modify mocks within tests instead of adding to fixtures
  sous_chef/tests/unit_tests/formatter/ingredient/conftest.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient_field.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_referenced_recipe.py
Due: autoflake, flake8

CODE-157 Add option to view unrated recipes when confirming menu
  sous_chef/config/menu.yaml
  sous_chef/sous_chef/formatter/ingredient/format_referenced_recipe.py
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/tests/unit_tests/conftest.py
  sous_chef/tests/unit_tests/formatter/ingredient/conftest.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient_field.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/util.py
Due: autoflake, flake8, yamllint

CODE-158 Cleaned up code slightly.
  jellyfin_helpers/jellyfin_helpers/parse_library.py
Due: autoflake, flake8

CODE-158 First version of folder parse script.
  jellyfin_helpers/jellyfin_helpers.iml
  jellyfin_helpers/jellyfin_helpers/parse_library.py
Due: autoflake, flake8

CODE-157 Slight simplification of recipe creation for tests. Delete builder class in favor of create_recipe method.
  sous_chef/tests/unit_tests/conftest.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient_field.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/unit_tests/util.py
  sous_chef/tests/util.py
Due: autoflake, flake8

CODE-151 First WIP notebook with spacy stuff. Poetry changes with needed libraries.
  notebooks/ingredient_analysis.ipynb
  notebooks/ingredient_cases.txt
  notebooks/notebooks.iml
  poetry.lock
  pyproject.toml
Due: none

CODE-148 Corrected some issue
  sous_chef/sous_chef/date/get_due_date.py
  sous_chef/sous_chef/grocery_list/generate_grocery_list.py
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/sous_chef/messaging/todoist_api.py
  sous_chef/tests/unit_tests/date/test_get_date.py
  sous_chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/unit_tests/util.py
Due: autoflake, flake8

CODE-148 Unit test additions, some fixes
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/sous_chef/messaging/todoist_api.py
  sous_chef/tests/unit_tests/date/test_get_due_date.py
  sous_chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/unit_tests/messaging/test_todoist_api.py
  sous_chef/tests/unit_tests/util.py
Due: autoflake, flake8

CODE-148 Fix manual menu to have pint_unit
  sous_chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous_chef/sous_chef/grocery_list/generate_grocery_list.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
Due: autoflake, flake8

CODE-148 Add split factor and unit into eat_factor, eat_unit, and freeze_factor
  poetry.lock
  pyproject.toml
  sous_chef/sous_chef/date/get_date.py
  sous_chef/sous_chef/date/get_due_date.py
  sous_chef/sous_chef/formatter/format_unit.py
  sous_chef/sous_chef/formatter/units.py
  sous_chef/sous_chef/grocery_list/generate_grocery_list.py
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/sous_chef/messaging/todoist_api.py
  sous_chef/tests/unit_tests/date/test_get_date.py
  sous_chef/tests/unit_tests/formatter/test_format_unit.py
  sous_chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/unit_tests/messaging/test_todoist_api.py
  sous_chef/tests/unit_tests/util.py
Due: autoflake, flake8

CODE-164 Add mailmap as Ariel accidentally had old work email in previous commits
  .mailmap
Due: none

CODE-164 Remove 'grocery_list' and 'menu_list' distinction from menu
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-164 Minor fixes to loading of local menu and (nan) dtypes. Make schema validation happy.
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-164 Switch over EmailSender to more clearly named GmailHelper
  .github/actions/python-setup/action.yml
  .github/workflows/coverage.yml
  .github/workflows/pytest.yml
  sous_chef/config/messaging/gmail_api.yaml
  sous_chef/config/messaging/send_email.yaml
  sous_chef/sous_chef/messaging/gmail_api.py
  sous_chef/sous_chef/messaging/send_email.py
  sous_chef/sous_chef/messaging/todoist_api.py
  sous_chef/tests/integration_tests/messaging/test_gmail_api_integration.py
  sous_chef/tests/unit_tests/messaging/test_gmail_api_unit.py
Due: autoflake, flake8, yamllint

CODE-164 Custom unit block added.
  sous_chef/sous_chef/formatter/units.py
Due: autoflake, flake8

CODE-164 Add send email to create_menu and split configs
  sous_chef/config/grocery_list.yaml
  sous_chef/config/menu/create_menu.yaml
  sous_chef/config/menu_main.yaml
  sous_chef/sous_chef/date/get_due_date.py
  sous_chef/sous_chef/grocery_list/main.py
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/sous_chef/menu/main.py
  sous_chef/sous_chef/recipe_book/read_recipe_book.py
  sous_chef/tests/unit_tests/date/test_get_due_date.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/util.py
Due: autoflake, flake8, yamllint

CODE-164 Add integration tests to CI
  .github/actions/python-setup/action.yml
  .github/workflows/coverage.yml
  .github/workflows/pytest.yml
Due: yamllint

CODE-164 Check error messages of tests
  sous_chef/sous_chef/formatter/format_unit.py
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_referenced_recipe.py
  sous_chef/tests/unit_tests/formatter/test_format_unit.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8

CODE-164 Remove old scripts which are no longer used
  sous_chef/helper_scripts/cleanup_recipe/convert_unit.py
  sous_chef/helper_scripts/cleanup_recipe/main.py
  sous_chef/helper_scripts/cleanup_recipe/read_recipe.py
  sous_chef/helper_scripts/cleanup_recipe/standardize_unit_name.py
  sous_chef/helper_scripts/cleanup_recipe/standardize_unit_value.py
  sous_chef/helper_scripts/create_ingredient_master_list.py
  sous_chef/helper_scripts/tests/test_convert_unit.py
  sous_chef/helper_scripts/tests/test_standardize_unit_value.py
  sous_chef/menu_template/base_email.html
  sous_chef/menu_template/cuisine_map.yml
  sous_chef/menu_template/five_day_cook_week.yml
  sous_chef/menu_template/four_day_cook_week.yml
  sous_chef/menu_template/sous_chef.iml
  sous_chef/nutrition_data/prepare_nutrition_data.py
  sous_chef/nutrition_data/usda_api.py
  sous_chef/sous_chef/clean_data.py
  sous_chef/sous_chef/definitions.py
  sous_chef/sous_chef/grocery_list/grocery_matching_mapping.py
  sous_chef/sous_chef/main.py
  sous_chef/sous_chef/menu/create_manual_menu.py
  sous_chef/sous_chef/recipe_book/filter_recipes.py
  sous_chef/sous_chef/recipe_book/read_recipe_book.py
  sous_chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
  sous_chef/tests/unit_tests/test_filter_recipes.py
  sous_chef/tests/unit_tests/test_grocery_mapping.py
  sous_chef/tests/unit_tests/test_read_recipes.py
Due: autoflake, flake8, yamllint

CODE-164 Remove packages that are no longer needed and update lock
  poetry.lock
  pyproject.toml
Due: none

CODE-164 Suggestion to test df to html, not pretty, feel free to discard.
  sous_chef/tests/unit_tests/messaging/test_gmail_api_unit.py
Due: autoflake, flake8

CODE-164 Refactor and improve Gsheets integration to handle multiple calls
  sous_chef/config/messaging/gsheets_api.yaml
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/sous_chef/messaging/gsheets_api.py
  sous_chef/sous_chef/messaging/send_email.py
  sous_chef/sous_chef/pantry_list/read_pantry_list.py
  sous_chef/tests/integration_tests/messaging/test_gsheets_api.py
  sous_chef/tests/integration_tests/test_gsheets_api.py
  sous_chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
  sous_chef/tests/unit_tests/util.py
  sous_chef/tests/util.py
Due: autoflake, flake8, yamllint

CODE-164 Adapt local coverage rc to consider all current sous_chef code folders
  .coveragerc.
Due: none

CODE-164 Add validation for menu and random recipe by tag and category
  poetry.lock
  pyproject.toml
  sous_chef/config/menu.yaml
  sous_chef/config/recipe_book.yaml
  sous_chef/sous_chef/date/get_due_date.py
  sous_chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/sous_chef/recipe_book/filter_recipes.py
  sous_chef/sous_chef/recipe_book/read_recipe_book.py
  sous_chef/tests/unit_tests/date/test_get_due_date.py
  sous_chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
  sous_chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8, yamllint

CODE-169 Remove functionality to move to section prior to deleting task.
  sous_chef/sous_chef/messaging/todoist_api.py
  sous_chef/tests/unit_tests/messaging/test_todoist_api.py
Due: autoflake, flake8

CODE-173 Hotfix to run menu-3, containing issues that slipped through last review.
  sous_chef/config/menu/create_menu.yaml
  sous_chef/config/menu_main.yaml
  sous_chef/sous_chef/formatter/units.py
  sous_chef/sous_chef/menu/create_menu.py
  sous_chef/sous_chef/messaging/todoist_api.py
  sous_chef/tests/unit_tests/menu/test_create_menu.py
Due: autoflake, flake8, yamllint

CODE-163 Add more IntelliJ xml modules for sharing settings
  .idea/aurorianclouds.iml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/runConfigurations/_house_keeper__with_build.xml
  .idea/runConfigurations/_sous_chef__grocery_list_dry.xml
  .idea/runConfigurations/_sous_chef__grocery_list_only_clean.xml
  .idea/runConfigurations/_sous_chef__grocery_list_prod.xml
  .idea/runConfigurations/_sous_chef__menu_dry.xml
  .idea/runConfigurations/_sous_chef__menu_prod_from_local.xml
  .idea/runConfigurations/_sous_chef__unit_tests.xml
Due: none

CODE-163 Update package dependencies after testing
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

CODE-163 Change .gitignore to allow commit of run configurations
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/runConfigurations/_house_keeper__start_server.xml
Due: none

CODE-163 Minor run config improvement. Added sheet to custom units.
  .idea/runConfigurations/_sous_chef__menu_dry.xml
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8

CODE-163 Delete remnant run config from before change to ansible.
  .idea/runConfigurations/_house_keeper__with_build.xml
Due: none

CODE-163 Propose minor fix to find running backup container.
  ansible/house-keeper/create_db_backup.sh
Due: none

CODE-174 Add priority kwarg to todoistHelper
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8

CODE-174 Consolidate column-based recipe formatting into one row-based function (+ small run config fix).
  .idea/runConfigurations/_sous_chef__menu_dry.xml
  sous-chef/sous_chef/recipe_book/read_recipe_book.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: autoflake, flake8

CODE-162 POC for extracting text from image
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/text_extractor/convert_image_to_text.py
Due: autoflake, flake8

CODE-189 Todoist priority fixes and minor change:
  sous-chef/config/recipe_book.yaml
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu.py
  sous-chef/sous_chef/messaging/todoist_api.py
Due: autoflake, flake8, yamllint

CODE-190 Small changes relevant during latest grocery creations:
  sous-chef/sous_chef/formatter/units.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list.py
Due: autoflake, flake8

CODE-191 Add unit strip (e.g. for bacon).
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8

CODE-194 Slight rewrite to fix issue with non-existent menu entry types.
  sous-chef/sous_chef/menu/create_menu.py
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
