Repository ArBridgeman/aurorianclouds: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, flake8, yamllint

autoflake:
  name: autoflake
  description: Remove unused imports
  entry: poetry run autoflake --in-place --remove-all-unused-imports --remove-unused-variables --expand-star-imports
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Enforces style consistency across Python projects
  entry: poetry run flake8
  language: system
  require_serial: true

yamllint:
  name: yamllint
  description: Enforces style consistency for YAML files
  entry: poetry run yamllint
  language: system

CODE-223 lastet notebook version (WIP on dropdowns)
  analysis/sous-chef/search_replacement.ipynb
Due: none

Extract staticmethods to a base class that can be used for testing & debugging unit tests & code
  utilities/tests/unit_tests/api/conftest.py
  utilities/tests/unit_tests/api/test_todoist_api.py
  utilities/tests/unit_tests/conftest.py
  utilities/tests/unit_tests/testing/__init__.py
  utilities/tests/unit_tests/testing/test_todoist.py
  utilities/utilities/api/__init__.py
  utilities/utilities/api/base_classes/__init__.py
  utilities/utilities/api/base_classes/todoist.py
  utilities/utilities/api/todoist_api.py
  utilities/utilities/testing/todoist.py
Due: autoflake, flake8

Add debugging todoist
  utilities/tests/conftest.py
  utilities/tests/integration_tests/api/conftest.py
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
  utilities/tests/unit_tests/api/conftest.py
  utilities/tests/unit_tests/api/test_todoist_api.py
  utilities/tests/unit_tests/conftest.py
  utilities/tests/unit_tests/testing/__init__.py
  utilities/tests/unit_tests/testing/test_todoist.py
  utilities/utilities/api/base_classes/gsheets.py
  utilities/utilities/api/base_classes/todoist.py
  utilities/utilities/api/todoist_api.py
  utilities/utilities/testing/todoist.py
Due: autoflake, flake8

Move clean up to before the test into the fixture
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
Due: autoflake, flake8

Add mark to pyproject.toml
  utilities/pyproject.toml
Due: none

Separate unit tests into inherited test structure
  utilities/tests/unit_tests/api/conftest.py
  utilities/tests/unit_tests/api/test_todoist_api.py
Due: autoflake, flake8

Add debugging todoist and clean up config some
  jellyfin-helpers/config/jellyfin_api.yaml
  jellyfin-helpers/config/plan_workouts.yaml
  jellyfin-helpers/jellyfin_helpers/workout_plan/__main__.py
Due: autoflake, flake8, yamllint

CODE-223 latest WIP notebook update
  analysis/analysis/recipe_replacements/search_replacement.ipynb
Due: none

Update plan to be composed of timeplan, basic, & sets
  jellyfin-helpers/config/plan_workouts.yaml
  jellyfin-helpers/jellyfin_helpers/workout_plan/__main__.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/export_plan.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/models.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
  jellyfin-helpers/tests/integration_tests/workout_plan/test_plan_workouts.py
Due: autoflake, flake8, yamllint

adapt-to-new-workout-2 Fix RelativeDate() logic and related tests.
  jellyfin-helpers/jellyfin_helpers/workout_plan/date_util.py
  jellyfin-helpers/tests/integration_tests/workout_plan/test_get_workouts.py
  jellyfin-helpers/tests/unit_tests/conftest.py
  jellyfin-helpers/tests/unit_tests/workout_plan/test_date_util.py
Due: autoflake, flake8

Add missing sous-chef error raises/logs to yamls.
  sous-chef/config/menu/create_menu.yaml
  sous-chef/config/menu_main.yaml
Due: yamllint

Add roll as unit & Alnatura to specialty list.
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8, yamllint

Add real time from JellyfinAPI for item & skip fault selection for small genres
  jellyfin-helpers/jellyfin_helpers/jellyfin_api.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/get_workouts.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
Due: autoflake, flake8

Update pandera to latest model which gets rid of pandas warnings
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: none

Add cache for recipes
  .gitignore
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/tests/integration_tests/conftest.py
Due: autoflake, flake8

CODE-222 WIP: Randomly select from Youtube playlist
  jellyfin-helpers/jellyfin_helpers/README.md
  jellyfin-helpers/jellyfin_helpers/workout_plan/plan_workouts.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/query_youtube_playlist.py
  jellyfin-helpers/pyproject.toml
Due: autoflake, flake8

Refactor grocery list so can break into mini-services
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_for_todoist.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/grocery_list/main.py
  sous-chef/tests/conftest.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Add unit for unit catchall
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8

Allow option to make whole version of sub-recipe
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Simplify get_unit_str with abbreviated one
  sous-chef/sous_chef/formatter/format_unit.py
  sous-chef/tests/unit_tests/formatter/test_format_unit.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Get rid of unit string and other unneeded fields
  sous-chef/config/formatter/format_ingredient.yaml
  sous-chef/config/recipe_book.yaml
  sous-chef/sous_chef/formatter/format_unit.py
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/formatter/ingredient/format_line_abstract.py
  sous-chef/sous_chef/formatter/ingredient/format_referenced_recipe.py
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/formatter/units.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
  sous-chef/sous_chef/recipe_book/recipe_util.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_referenced_recipe.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_get_ingredient_field.py
  sous-chef/tests/unit_tests/formatter/test_format_unit.py
  sous-chef/tests/unit_tests/formatter/util.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/create_menu/conftest.py
  sous-chef/tests/unit_tests/menu/create_menu/test__from_fixed_template.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
  sous-chef/tests/unit_tests/util.py
Due: autoflake, flake8, yamllint

Remove unit str as unused throughout grocery list until end & move dimension to only aggregation
  sous-chef/sous_chef/formatter/format_unit.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/tests/unit_tests/formatter/test_format_unit.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Make sure to use the same conversion function
  sous-chef/sous_chef/formatter/format_unit.py
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
Due: autoflake, flake8

Allow grocery_list dev to check all recipes
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
Due: autoflake, flake8

Get rid of unit string and other unneeded fields
  sous-chef/config/formatter/format_ingredient.yaml
  sous-chef/config/recipe_book.yaml
  sous-chef/sous_chef/formatter/format_unit.py
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/formatter/ingredient/format_line_abstract.py
  sous-chef/sous_chef/formatter/ingredient/format_referenced_recipe.py
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/formatter/units.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/menu/create_menu/_for_grocery_list.py
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
  sous-chef/sous_chef/recipe_book/recipe_util.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_referenced_recipe.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_get_ingredient_field.py
  sous-chef/tests/unit_tests/formatter/test_format_unit.py
  sous-chef/tests/unit_tests/formatter/util.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
  sous-chef/tests/unit_tests/menu/create_menu/conftest.py
  sous-chef/tests/unit_tests/menu/create_menu/test__from_fixed_template.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
  sous-chef/tests/unit_tests/util.py
Due: autoflake, flake8, yamllint

Fix cube definition to be explictly only equal to tbsp amount
  sous-chef/sous_chef/formatter/units.py
Due: autoflake, flake8

Remove unnecessary is_staple field
  sous-chef/sous_chef/formatter/ingredient/format_ingredient.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
  sous-chef/tests/unit_tests/formatter/ingredient/conftest.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_format_ingredient.py
  sous-chef/tests/unit_tests/formatter/ingredient/test_get_ingredient_field.py
  sous-chef/tests/unit_tests/grocery_list/test_generate_grocery_list.py
Due: autoflake, flake8

Fix: Alnatura store was added but not propagated to config
  sous-chef/config/grocery_list.yaml
Due: yamllint

Add initial_size and special_storage columns
  sous-chef/tests/integration_tests/pantry_list/test_read_pantry_list_integration.py
Due: autoflake, flake8

Allow referenced dimensionality error to be loggable
  sous-chef/config/grocery_list.yaml
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
Due: autoflake, flake8, yamllint

Minor fixes as commented on in PR
  sous-chef/sous_chef/formatter/ingredient/get_ingredient_field.py
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/sous_chef/recipe_book/recipe_util.py
  sous-chef/tests/unit_tests/menu/create_menu/conftest.py
  sous-chef/tests/unit_tests/menu/create_menu/test_create_menu.py
Due: autoflake, flake8

Do not require override when defrosting item
  sous-chef/sous_chef/menu/create_menu/_menu_basic.py
Due: autoflake, flake8

Path conditions:
  autoflake: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
