Repository ArBridgeman/aurorianclouds: changes, and which Codecov flags are due for each by the changed paths.
All: sous_chef, jellyfin_helpers

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%    # the required coverage value
        threshold: 1%  # the leniency in hitting the target
    patch:
      default:
        target: 80%
        threshold: 1%  # the leniency in hitting the target

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_sous_chef
      name: sous_chef
      paths:
        - sous-chef/**
    - component_id: module_jellyfin_helpers
      name: jellyfin_helpers
      paths:
        - jellyfin-helpers/**

Add bandit as dev dependency
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  utilities/poetry.lock
  utilities/pyproject.toml
Due: sous_chef, jellyfin_helpers

Add composite action to generate bandit json & modify to submit to Sonar
  .github/actions/run-bandit/action.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: none

Fix security concern with eval usage and add allowed filter
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
Due: sous_chef

Refactoring/192 resolve sonar issues part 2 bandit and sous chef (#193)
  .github/actions/run-bandit/action.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
  README.md
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  poetry.lock
  pyproject.toml
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
  sous-chef/sous_chef/recipe_book/_recipe_book.py
  sous-chef/sous_chef/recipe_book/_recipe_randomizer.py
  sous-chef/tests/unit_tests/recipe_book/test_read_recipe_book.py
  utilities/poetry.lock
  utilities/pyproject.toml
Due: sous_chef, jellyfin_helpers

Adjust zizmor to allow variable input
  justfile
Due: none

Fix zizmor findings
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/actions/run-bandit/action.yml
  .github/workflows/merge_to_main.yml
  .github/workflows/pr.yml
  .github/workflows/test_banking_helpers.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: none

Put pygsheets back to a previous version
  utilities/poetry.lock
  utilities/pyproject.toml
Due: none

Stop dependabot from updating pygsheets - made an issue to remove this dependency
  .github/dependabot.yml
Due: none

Remove code coverage for codecov/codecov-action as no longer using
  .github/workflows/merge_to_main.yml
Due: none

add units & change season.
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/formatter/units.py
Due: sous_chef

fix: suggestion implemented for shot to ml conversion.
  sous-chef/sous_chef/formatter/units.py
Due: sous_chef

Add units & regular season change. (#198)
  sous-chef/config/menu/create_menu.yaml
  sous-chef/sous_chef/formatter/units.py
Due: sous_chef
