Repository ArBridgeman/aurorianclouds: changes, and which Codecov flags are due for each by the changed paths.
All: sous_chef, jellyfin_helpers

Change season to summer.
  sous-chef/config/menu/create_menu.yaml
Due: sous_chef

Change season to fall.
  sous-chef/config/menu/create_menu.yaml
Due: sous_chef

Add preliminary files for test setup
  .idea/modules.xml
  .idea/runConfigurations/_sous_chef__menu_dev.xml
  pyproject.toml
  sous-chef-web/poetry.lock
  sous-chef-web/poetry.toml
  sous-chef-web/pyproject.toml
  sous-chef-web/sous-chef-web.iml
  sous-chef-web/sous_chef_web/__init__.py
  sous-chef-web/sous_chef_web/main.py
  sous-chef-web/sous_chef_web/models.py
  sous-chef-web/sous_chef_web/routes/recipes.py
  sous-chef-web/sous_chef_web/routes/visualizations.py
  sous-chef-web/sous_chef_web/static/css/welcome.css
  sous-chef-web/sous_chef_web/utils.py
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: sous_chef

Change season to winter.
  sous-chef/config/menu/create_menu.yaml
Due: sous_chef

Bump dependencies
  jellyfin-helpers/poetry.lock
  poetry.lock
Due: jellyfin_helpers

Remove unused code
  ansible/ansible.iml
  ansible/house-keeper/create_and_apply_migration.sh
  ansible/house-keeper/create_db_backup.sh
  ansible/house-keeper/house_keeper.yml
  ansible/house-keeper/remove_container.sh
  ansible/house-keeper/restore_django_db.sh
  ansible/house-keeper/vault.yml
  ansible/poetry.lock
  ansible/poetry.toml
  ansible/pyproject.toml
Due: none

Remove unused code
  house-keeper/Dockerfile.django
  house-keeper/README.md
  house-keeper/house-keeper.iml
  house-keeper/house_keeper/__init__.py
  house-keeper/house_keeper/asgi.py
  house-keeper/house_keeper/cleaner/__init__.py
  house-keeper/house_keeper/cleaner/admin.py
  house-keeper/house_keeper/cleaner/apps.py
  house-keeper/house_keeper/cleaner/fixtures/category.yaml
  house-keeper/house_keeper/cleaner/migrations/0001_initial.py
  house-keeper/house_keeper/cleaner/migrations/__init__.py
  house-keeper/house_keeper/cleaner/models.py
  house-keeper/house_keeper/cleaner/tests.py
  house-keeper/house_keeper/cleaner/views.py
  house-keeper/house_keeper/settings.py
  house-keeper/house_keeper/urls.py
  house-keeper/house_keeper/wsgi.py
  house-keeper/manage.py
  house-keeper/poetry.lock
  house-keeper/poetry.toml
  house-keeper/pyproject.toml
Due: none

Bump dependencies
  sous-chef/poetry.lock
  utilities/poetry.lock
Due: sous_chef

Remove unused code
  ansible/ansible.iml
  ansible/house-keeper/create_and_apply_migration.sh
  ansible/house-keeper/create_db_backup.sh
  ansible/house-keeper/house_keeper.yml
  ansible/house-keeper/remove_container.sh
  ansible/house-keeper/restore_django_db.sh
  ansible/house-keeper/vault.yml
  ansible/poetry.lock
  ansible/poetry.toml
  ansible/pyproject.toml
  house-keeper/Dockerfile.django
  house-keeper/README.md
  house-keeper/house-keeper.iml
  house-keeper/house_keeper/__init__.py
  house-keeper/house_keeper/asgi.py
  house-keeper/house_keeper/cleaner/__init__.py
  house-keeper/house_keeper/cleaner/admin.py
  house-keeper/house_keeper/cleaner/apps.py
  house-keeper/house_keeper/cleaner/fixtures/category.yaml
  house-keeper/house_keeper/cleaner/migrations/0001_initial.py
  house-keeper/house_keeper/cleaner/migrations/__init__.py
  house-keeper/house_keeper/cleaner/models.py
  house-keeper/house_keeper/cleaner/tests.py
  house-keeper/house_keeper/cleaner/views.py
  house-keeper/house_keeper/settings.py
  house-keeper/house_keeper/urls.py
  house-keeper/house_keeper/wsgi.py
  house-keeper/manage.py
  house-keeper/poetry.lock
  house-keeper/poetry.toml
  house-keeper/pyproject.toml
Due: none

Update workflow dependencies
  .github/actions/poetry-setup-with-tokens/action.yml
  .github/workflows/merge_to_main.yml
  .github/workflows/test_jellyfin_helpers.yml
  .github/workflows/test_sous_chef.yml
  .github/workflows/test_utilities.yml
Due: none

Switch to new PEP-compliance and 3.10
  utilities/poetry.lock
  utilities/pyproject.toml
Due: none

Switch to new PEP-compliance and 3.10
  poetry.lock
  pyproject.toml
Due: none

Switch to new PEP-compliance and 3.10
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: sous_chef

Quote version
  .github/actions/poetry-setup-with-tokens/action.yml
Due: none

Update urllib3
  sous-chef/poetry.lock
  utilities/poetry.lock
Due: sous_chef

Update more vulnerable locked versions
  poetry.lock
  sous-chef/poetry.lock
  utilities/poetry.lock
Due: sous_chef

Update vulnerable versions & to Python 3.10 with PEP-compliance
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
Due: jellyfin_helpers

Bump to next todoist-api
  utilities/poetry.lock
  utilities/pyproject.toml
Due: none

Fix todoist API - work in progress
  utilities/utilities/testing/todoist.py
Due: none

More WIP updates
  utilities/utilities/testing/todoist.py
Due: none

More WIP updates
  utilities/utilities/api/todoist_api.py
  utilities/utilities/testing/todoist.py
Due: none

Pin setuptools due to Intellij incompatibility.
  sous-chef/pyproject.toml
Due: sous_chef

Change back deps format to table format in order to install utilities as a develop dependency. The new PEP format does not support this. No other fix except for hardcoding the path seems to work.
  sous-chef/pyproject.toml
Due: sous_chef

Add some ignores.
  .gitignore
Due: none

Fix utilities tests.
  utilities/tests/integration_tests/api/test_todoist_api_integration.py
  utilities/utilities/api/todoist_api.py
  utilities/utilities/testing/todoist.py
Due: none

fix remaining issues (e2e test data slight reformat, content the same).
  sous-chef/tests/data/tasks_grocery_list.csv
  sous-chef/tests/data/tasks_menu.csv
  sous-chef/tests/e2e_tests/test_e2e.py
  utilities/utilities/api/todoist_api.py
Due: sous_chef

Fix poetry locks
  jellyfin-helpers/poetry.lock
  jellyfin-helpers/pyproject.toml
  sous-chef/poetry.lock
Due: sous_chef, jellyfin_helpers

Increase black major version to resolve vulnerability
  poetry.lock
  pyproject.toml
Due: none

Fix with black autoformat
  jellyfin-helpers/jellyfin_helpers/parse_library.py
  jellyfin-helpers/jellyfin_helpers/workout_plan/get_workouts.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/_for_todoist.py
  sous-chef/sous_chef/grocery_list/generate_grocery_list/generate_grocery_list.py
  sous-chef/sous_chef/text_extractor/convert_image_to_text.py
Due: sous_chef, jellyfin_helpers

Remove pip as not used
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: sous_chef

Update fastapi & starlette
  sous-chef/poetry.lock
  sous-chef/pyproject.toml
Due: sous_chef

feat: initial version of helper app.
  banking-helpers/.dockerignore
  banking-helpers/.gitignore
  banking-helpers/Dockerfile
  banking-helpers/README.md
  banking-helpers/banking_helpers/__init__.py
  banking-helpers/banking_helpers/app.py
  banking-helpers/banking_helpers/cli.py
  banking-helpers/banking_helpers/config/banks/bank1.yaml
  banking-helpers/banking_helpers/config/banks/dkb.yaml
  banking-helpers/banking_helpers/config/banks/sparkasse.yaml
  banking-helpers/banking_helpers/config/banks/vrbank.yaml
  banking-helpers/banking_helpers/config/config.yaml
  banking-helpers/banking_helpers/config/output_format.yaml
  banking-helpers/banking_helpers/config/validation.yaml
  banking-helpers/banking_helpers/excel_export.py
  banking-helpers/banking_helpers/processor.py
  banking-helpers/banking_helpers/utils.py
  banking-helpers/docker-compose.yml
  banking-helpers/example_transactions.csv
  banking-helpers/poetry.lock
  banking-helpers/poetry.toml
  banking-helpers/pyproject.toml
Due: none

fixes
  banking-helpers/Dockerfile
  banking-helpers/banking_helpers/cli.py
  banking-helpers/banking_helpers/config/banks/dkb.yaml
  banking-helpers/banking_helpers/config/banks/sparkasse.yaml
  banking-helpers/banking_helpers/config/banks/vrbank.yaml
  banking-helpers/banking_helpers/processor.py
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
Due: none

docker fixes.
  banking-helpers/Dockerfile
Due: none

feature: category ident. patterns added. some fixes.
  banking-helpers/.gitignore
  banking-helpers/PATTERNS_QUICK_REFERENCE.md
  banking-helpers/banking_helpers/app.py
  banking-helpers/banking_helpers/config/banks/bank1.yaml
  banking-helpers/banking_helpers/config/banks/dkb.yaml
  banking-helpers/banking_helpers/config/banks/sparkasse.yaml
  banking-helpers/banking_helpers/config/banks/vrbank.yaml
  banking-helpers/banking_helpers/config/validation.yaml
  banking-helpers/banking_helpers/processor.py
  banking-helpers/banking_helpers/utils.py
Due: none

fix: argument doesn't exist.
  banking-helpers/banking_helpers/app.py
Due: none

add to .gitignore and module files.
  .gitignore
  .idea/modules.xml
  aurorianclouds.iml
Due: none

remove some details.
  banking-helpers/.gitignore
  banking-helpers/PATTERNS_QUICK_REFERENCE.md
  banking-helpers/README.md
  banking-helpers/banking-helpers.iml
  banking-helpers/banking_helpers/cli.py
  banking-helpers/banking_helpers/config/banks/dkb.yaml
  banking-helpers/banking_helpers/config/banks/sparkasse.yaml
  banking-helpers/banking_helpers/config/banks/vrbank.yaml
  banking-helpers/banking_helpers/processor.py
Due: none

fixes to pr comments.
  .gitignore
  banking-helpers/.gitignore
  banking-helpers/Dockerfile
  banking-helpers/README.md
  banking-helpers/banking_helpers/__init__.py
  banking-helpers/banking_helpers/app.py
  banking-helpers/banking_helpers/config/validation.yaml
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
Due: none

fix poetry dev dependency definition.
  banking-helpers/poetry.lock
  banking-helpers/pyproject.toml
Due: none

Path conditions:
  sous_chef: any of: sous-chef/**
  jellyfin_helpers: any of: jellyfin-helpers/**
